[2019-05-27 12:16] roidelapluie opened #11 "Move https://github.com/inuits/hazelcast_exporter/"
I would like to move https://github.com/inuits/hazelcast_exporter/ to this community.

[2019-05-27 13:21] carlpett opened #13 "Adopt wmi_exporter"
The maintainers of [wmi_exporter](https://github.com/martinlindhe/wmi_exporter) (me and @martinlindhe) would like to propose adopting the wmi_exporter into prometheus-community.

At the same time, the project also should be renamed, to reflect that we are now not only using WMI as a datasource. Proposed new name is simply "windows_exporter", but open for suggestions.

[2019-08-28 14:17] pgier opened #3 "Create smartmon exporter repository"
I'd like to start a new prometheus community project for exporting SMART metrics.  I've created some prototype code in my personal repository (https://github.com/pgier/smartmon-exporter).  There seems to be some demand for smart metrics to be added to node_exporter (https://github.com/prometheus/node_exporter/issues/473, https://github.com/prometheus/node_exporter/issues/782), but due to some of t

[2019-11-03 09:51] SuperQ opened #4 "Move prometheus-community issues"
We have two "management" projects now. `prometheus-community/community` and prometheus-community/prometheus-community`.

I think we should consolidate things to just this project.

[2019-11-03 09:54] SuperQ commented on #3
Sounds like a good one to me. I am willing to sponsor this project.

[2019-11-03 09:57] SuperQ opened #5 "Adopt the unifi_exporter"
The [unifi_exporter](https://github.com/mdlayher/unifi_exporter) seems to be the only reasonable Prometheus exporter for Ubiquiti Unifi.

I would like to see development continue, as I use Ubiquiti stuff in a couple places.

@mdlayher Do you think it would be useful to bring your code into the Prometheus Community projet to see if we can get some new contributors?

I am happy to sponsor adoption o

[2019-11-03 13:43] bwplotka opened #6 "Adopt jiralert"
I would like to propose moving https://github.com/free/jiralert to prometheus-community. It is a quite alert manager webhook created by @free that creates tickets from alerts.

Happy to sponsor it as well, despite that, we currently don't use it in my new job (: Still, I think it would be awesome to have it here in community space.

@free are you happy with this? I think we initially discussed thi

[2019-11-03 13:55] free commented on #6
SGTM :+1:

[2019-11-04 14:48] mdlayher commented on #5
If you'd like to do that, you're more than welcome to. I've stopped running it in favor of the SNMP exporter as that gives me basically all the info I need anyway.

[2019-11-28 15:22] RichiH opened #7 "Create governance document"
I suspect we will end up using Prometheus governance as a starting base.

Two obvious questions:
* What, if any, is the level of involvement we would mandate to join this org as a member? We should strive to avoid vanity memberships to keep everything running smoothly.
* Does prometheus-team feel the need to retain final call in case of disagreements or should we be on completely equal footing?

A

[2019-11-28 15:23] RichiH opened #8 "Create maintainership document"
This document could be part of governance, or it could stand alone. It should lay out what is expected of any maintainer and some common baselines of how to work with their own repos. For example, working through pull requests instead of pushing directly to master ensures that we always have some review and that no single-person projects exist; per definition, at least two people will need to take

[2019-11-28 15:23] RichiH opened #9 "Create project acceptance document"
What projects do we want to accept? Do we want to exclude anything?

[2019-11-28 15:23] RichiH opened #10 "What support should a maintainer/project expect from prometheus-community?"
Do we want to offer anything specific?

What immediately comes to mind is access to infrastructure for testing and such.

[2019-11-28 15:24] roidelapluie opened #12 "Move https://github.com/roidelapluie/octopush_exporter"
I would like to move https://github.com/roidelapluie/octopush_exporter to this community.

[2019-11-28 15:24] cpitstick-argo opened #14 "Add Jenkins Prometheus plugin to the Prometheus Community"
The Jenkins Prometheus plugin (https://github.com/jenkinsci/prometheus-plugin) gets infrequent updates and frequently has bugs and integration issues.

I just returned from KubeCon, and it's clear that Jenkins is widely used by many as their CI/CD solution.

As of this writing, the latest version of the Jenkins Plugin (2.0.6) crashes on many installations, and in spite of multiple requests to the

[2019-11-28 15:26] SuperQ commented on #4
This is done, prometheus-community/prometheus-community is now archived.

[2019-11-28 15:26] #4 closed

[2019-11-28 15:29] anarcat opened #15 "adopt bind"
hi!

the [bind exporter](https://github.com/digitalocean/bind_exporter/) is in fairly good shape in terms of contributions, but upstream seems to be struggling with issuing proper releases (see https://github.com/digitalocean/bind_exporter/issues/55). it seems @digitalocean is not really supporting it, so maybe it could be moved here.

[2019-12-02 19:54] rayram23 commented on #15
Hi All, Im an employee at DO and we are ready to move the repo over. Once someone gives me an `ack` we can move the repo over.

[2019-12-11 01:41] anarcat commented on #15
i am not sure what the next step is here... "`ack`"? :)

[2019-12-11 12:49] SuperQ commented on #13
When should we do the transfer of the exporter to this group? Also, I recall there was an idea to rename this to `windows_exporter`, since the scope has expanded beyond just being a bridge to WMI.

[2019-12-11 13:03] carlpett commented on #13
From my understanding there is still some unclarity on how prometheus-community would work? We haven't closed the discussions in #7 #8 #9, at least, which I had assumed was required before starting transfers?

[2019-12-11 13:38] SuperQ commented on #13
We had a discussion at one of the previous developer summits and decided that it was OK to continue running the project under the existing Prometheus governance rules. Basically we need a volunteer from Prometheus Team to "sponsor" a project, but additional maintainers can be granted using our lazy consensus procedure.

Additional documentation is meant to expand things beyond those rules, but the

[2019-12-11 21:13] rayram23 commented on #15
Lol. Thanks ill move the repo over now :)

[2019-12-11 21:19] rayram23 commented on #15
ah i got this error when trying to transfer:

`You don’t have the permission to create public repositories on prometheus-community`

[2019-12-28 11:05] SuperQ commented on #15
@rayram23 Would it be an option to grant me access to the bind_exporter repo?

[2019-12-28 11:10] SuperQ commented on #15
Ok, I've created a new team and permission setup to allow moving the exporter repo into the project.

[2020-01-04 00:47] rayram23 commented on #15
Sooooo... github said i could only transfer it between myself and an org.. So i transferred it to myself and now transferring it to “Prometheus-community” says i do not have permissions to create public repos in that org.

[2020-01-04 00:50] rayram23 commented on #15
<img width="1194" alt="Screenshot 2020-01-03 at 7 47 59 PM" src="https://user-images.githubusercontent.com/2936797/71757252-4c4cdd80-2e62-11ea-9344-c2361261e008.png">

[2020-01-04 11:35] SuperQ commented on #15
@rayram23 GitHub says you haven't accepted the invite to the team. Check your notifications.

[2020-01-05 03:10] rayram23 commented on #15
Success!!! Moved over!

[2020-01-05 03:35] anarcat commented on #15
awesome, thanks, so I guess this can be closed now! :)

[2020-01-05 03:35] #15 closed

[2020-01-05 09:46] SuperQ commented on #15
Great, to kick off some maintenance, I've created a PR to update the build with the latest Prometheus templates/style.

https://github.com/prometheus-community/bind_exporter/pull/57

[2020-02-20 12:57] simonpasquier commented on #6
Done, for reference [discussion](https://groups.google.com/d/msg/prometheus-developers/4GyuB_1QfCA/Cj0QVLciBAAJ) on the prometheus-dev list.

[2020-02-20 12:57] #6 closed

[2020-02-20 17:31] kfox1111 commented on #3
Any movement on this?

[2020-02-21 19:17] SuperQ commented on #3
@pgier If you can grant me admin access to your repo, I can move it over.

[2020-03-13 14:53] SuperQ opened #16 "Add PushProxy to Prometheus Community"
@brian-brazil says he has less time to maintain PushProxy

Let's adopt https://github.com/RobustPerception/PushProx

I can serve as the maintainer sponsor.

[2020-03-13 15:14] RichiH commented on #16
SGTM

[2020-03-26 09:21] SuperQ opened #17 "Add stackdriver_exporter to Prometheus Community"
@frodenas is interested in transferring the stackdriver_exporter to the Prometheus Community.

https://github.com/frodenas/stackdriver_exporter/issues/72

[2020-03-26 09:21] SuperQ commented on #17
I am willing to be the initial maintainer steward for this.

[2020-03-26 10:39] SuperQ opened #18 "Adopt json-exporter"
@kawamuray is interested in moving `kawamuray/prometheus-json-exporter` to the prometheus community.

https://github.com/kawamuray/prometheus-json-exporter/issues/24

[2020-03-26 10:39] SuperQ commented on #18
I would be willing to be the initial maintainer sponsor.

[2020-04-03 15:30] SuperQ commented on #17
The move is now complete!

[2020-04-03 15:30] #17 closed

[2020-04-04 15:08] SuperQ commented on #13
Ping @carlpett, we're now moving projects over if you're still interested in doing this. I can create a new management team under the prometheus-community org, and you can continue to be a maintainer and invite others to be maintainers.

We just need to select a Prometheus maintainer as the "steward". @brian-brazil or @RichiH, do either of you want to take this one?

[2020-04-04 17:36] carlpett commented on #13
Yes, I think it would be very good to move it over! I actually opened an RFC issue in the exporter repo just this morning, so I hope we can get some input there on both the name but also what interesting dependencies have built up over the years on the specific name/url.
I think the rename+move combination has a potential to be a bit confusing if we don't do it in more or less one operation. Githu

[2020-04-04 18:25] SuperQ commented on #13
I'm not sure you can rename and move in the same step.

[2020-04-06 09:56] juliusv opened #19 "Move monaco editor PromQL support to Prometheus Community"
@Nexucis and others from Amadeus built PromQL support for the Monaco code editor (the editor component of VS Code): https://github.com/AmadeusITGroup/Monaco-language-PromQL

We are both interested in moving this to prometheus-community. If we want to do this, Amadeus is only asking to fork the original repo to here, mark the original repo as obsolete, and mark the fork as authoritative (but not br

[2020-04-06 09:58] juliusv opened #20 "Move CodeMirror editor PromQL support to Prometheus Community"
Similar to https://github.com/prometheus-community/community/issues/19, @Nexucis built PromQL support for the CodeMirror editor (which might be a candidate for usage in Prometheus itself potentially), and we are interested in transferring this repo to prometheus-community. This one doesn't have to be a fork, but can be a direct repo transfer.

@RichiH @SuperQ should we just do this or does there n

[2020-04-06 10:00] juliusv commented on #20
Forgot to include the link to the repo: https://github.com/Nexucis/codemirror-mode-promql

[2020-04-06 12:31] SuperQ commented on #19
I don't think a fork is a good way to handle this. If there's a desire to move it, let's just move it. We can create a [maintainer team](https://github.com/orgs/prometheus-community/teams) and @Nexucis can contribute.

Making it a fork will cause confusion as to which repo people should consider "upstream".

Moving the project will trigger GitHub to automatically setup redirects for the old projec

[2020-04-06 12:35] juliusv commented on #19
@SuperQ This was my idea as well, but according to @Nexucis this was a specific requirement of the Amadeus legal team. He could say more about it.

[2020-04-06 13:11] SuperQ commented on #19
That doesn't sound like a good fit for Prometheus Community. :frowning_face:

[2020-04-06 13:28] Nexucis commented on #19
@SuperQ sorry for the situation. I'm asking some clarifications to the Amadeus legal team. I'm not sure I understood exactly why we have to do that.

Regarding the other repository pointed by this issue https://github.com/prometheus-community/community/issues/20 it won't be the same and can be transfer when it fits to you and of course once you are agree.

[2020-04-06 17:53] SuperQ commented on #19
@Nexucis No need to be sorry. It's just a question of fit.

Part of the process of joining the Prometheus Community is the same as putting code into Prometheus itself. Copyright for contributions is signed over to "Prometheus Authors", this is part of our governance, to avoid complications of multi-contributor copyright.

It's completely up to your organization to give up the copyright.

[2020-04-06 18:02] brian-brazil commented on #19
That's not right, we don't have any form of copyright assignment.

[2020-04-06 18:48] juliusv commented on #19
It's not exactly about copyright even. Their request was to preserve the fork status on GitHub vs. making a disconnected re-clone. That's all, the old repo is still going to get marked as unmaintained. It is a bit unusual, granted, but not sure that should stop us?

Legally we could already just do a disconnected clone, since the source repo is MIT-licensed. However, if we want to keep Amadeus peo

[2020-04-08 15:25] Nexucis commented on #19
I have some news. I talked with the Amadeus legal team and the last conclusion is:

They dropped the fork idea, so that means we are r**eady to transfer the project** just like that to you.
I hope it will resolve all issue now :).

[2020-04-08 16:11] juliusv commented on #19
Great!

@SuperQ does that remove any objections?

[2020-04-11 13:54] SuperQ commented on #19
Yes, no objection here.

[2020-04-12 08:58] SuperQ opened #21 "Adopt pgbouncer_exporter"
The upstream pgbouncer[0] exporter is abandoned. But we have an active fork at https://github.com/stanhu/pgbouncer_exporter. I think this would be a good candidate for the Prometheus community.

[0]: https://github.com/larseen/pgbouncer_exporter

[2020-04-12 08:58] SuperQ commented on #21
Since we use this for gitlab, I'd be willing to be the maintainer sponsor.

[2020-04-12 12:19] SuperQ commented on #20
LGTM

[2020-04-12 13:11] Nexucis commented on #19
Awesome! how do we proceed ?

[2020-04-12 13:12] Nexucis commented on #20
Super news ! How do we proceed ? :)

[2020-04-13 07:04] SuperQ commented on #19
I've created an editor-plugins team to manage these repos.

[2020-04-13 07:47] juliusv commented on #19
Thanks! I'll create the two repos (the other one is for https://github.com/prometheus-community/community/issues/20) and add @Nexucis to that team.

@Nexucis should I add anyone else from your side to that team as well?

[2020-04-13 07:49] juliusv commented on #19
@Nexucis Actually, let me ask first: would you like to transfer the existing repositories (https://help.github.com/en/github/administering-a-repository/transferring-a-repository) or just create an entirely new one here to push to?

[2020-04-13 09:09] Nexucis commented on #19
I would prefer to transfer the existing repo :) if it's not too complicate for you @juliusv. Thanks for asking !
You can add @celian-garcia or I will do it after :)

[2020-04-13 09:18] Nexucis commented on #19
Actually I don't have the right to transfer the repo from the AmadeusITGroup, I don't have the right.
For the other one I can.
So I guess @juliusv it will be simpler to just copy the code for both repo and then I will ask to Amadeus to delete the monaco plugin and I will delete my repo for codeMirror

[2020-04-13 09:35] juliusv commented on #19
@Nexucis Ok, I'll just create two completely new repos then and give you access rights to them.

[2020-04-13 09:38] juliusv commented on #19
@Nexucis as new (bit simplified) repo names, how about:

* `codemirror-promql`
* `monaco-promql`

[2020-04-13 09:41] Nexucis commented on #19
@juliusv I like it :). Good idea !

[2020-04-13 09:43] Nexucis commented on #19
And it will align how both repo should bé, so it's a nice thing !

[2020-04-13 11:10] juliusv commented on #19
@Nexucis Great. I have created both repos and have given the prometheus-community/editor-plugins team (in which you are a member) Maintainer-level access to them:

* https://github.com/prometheus-community/monaco-promql
* https://github.com/prometheus-community/codemirror-promql

Please push the repo content there and welcome to prometheus-community :)

[2020-04-13 11:41] Nexucis commented on #19
Thanks a lot @juliusv !
I'll close the issues once the migration will be completely done (putting back ci/cd, updating link and so on)

[2020-04-13 11:46] juliusv commented on #19
Great, let me know if I can help with anything :)

[2020-04-13 11:56] Nexucis commented on #19
Ah yes I have a question regarding the CI/CD.
Shall I use circleci with my personal access ? Or shall I use a common one own by the prometheus-community ?

[2020-04-13 12:01] juliusv commented on #19
@Nexucis I *think* if you log into CircleCI with your GitHub account, it should be fine, and give you an option at the top right in CircleCI to select "prometheus-community" as a project:

![prom-comm](https://user-images.githubusercontent.com/538008/79118764-08d20b80-7d8f-11ea-9c3f-b2c45c14d105.png)

At least I hope you being part of the editor-plugins team is enough to show that, could you try?

[2020-04-13 12:07] Nexucis commented on #19
![image](https://user-images.githubusercontent.com/4548045/79119117-df65af80-7d8f-11ea-8e35-bc34b06917ad.png)
Quite weird I can't settup it for the project where I'm part of it but I can for others ^^.
Circleci is telling me to contact the repo admin to set up it

[2020-04-13 12:10] juliusv commented on #19
@SuperQ how have we handled this in the past? Maybe I should give the `prometheus-community/editor-plugins` team Admin-level access to the repos instead of just Maintainer-level?

[2020-04-13 12:12] juliusv commented on #19
I switched it to Admin access for now. @Nexucis does that change things on the CircleCI side? You may have to log out and in again in CircleCI to see changes.

[2020-04-13 12:14] Nexucis commented on #19
![image](https://user-images.githubusercontent.com/4548045/79119584-f953c200-7d90-11ea-91d8-18dd32e30a63.png)
I can setup the project now ! Thanks @juliusv :)

[2020-04-13 12:14] juliusv commented on #19
Nice!

[2020-04-13 13:33] SuperQ commented on #19
Yes, granting the team repo admin makes sense.

[2020-04-13 14:38] Nexucis commented on #19
Here we go. I have finished to transfer each project. For the moment old repository are archived. I will delete them a bit later (just to be sure I didn't miss anything and also because I don't have the right for the one in the AmadeusITGroup)

Thanks a lot @juliusv and @SuperQ for your help :)

[2020-04-13 14:38] #19 closed

[2020-04-13 14:39] Nexucis commented on #20
Project has been transfered in the prometheus-community: https://github.com/prometheus-community/codemirror-promql

Thanks a lot @juliusv and @SuperQ for your help!

[2020-04-13 14:39] #20 closed

[2020-04-13 21:36] juliusv commented on #19
@Nexucis Wonderful, thanks :) Looking forward to maintenance here and let me know when I can help with something!

Also, feel free to announce these repos on the users + dev mailing lists if you like.

[2020-04-14 00:02] Nexucis commented on #19
Thanks for your proposition @juliusv :). I think now it is just matter of continuing to develop the codemirror support and improving the monaco support. So of course if you want to participate or for monaco or for codemirror, I won't be bothered :).

Concerning the user + dev mailing list you are mentionning, well I will inform my team in Amadeus that it's done of course, but otherwise I don't hav

[2020-04-14 07:14] juliusv commented on #19
@Nexucis Yeah, probably no need for an announcement for these, true :)

[2020-04-14 21:28] Nexucis commented on #19
Ah I think I finally understood what you meant @juliusv, by the "user + dev mailing list". You were talking about the user and dev mailing list of Prometheus right ? If that so, I'm sorry for the time it tooks me to understand that. I thought you were talking about the actual user of the monaco-promQL ^^.

Maybe no need for a big announcement, but maybe we could just tell them that these repo exis

[2020-04-15 08:27] juliusv commented on #19
@Nexucis Yep, I was talking about the Prometheus user and dev lists. Yeah, I see it similarly as you do, no huge announcement, but in case you just want to let people know that these repos exist now, that could be interesting to some. I'll leave it up to you whether you want to do that :)

As an aside, this would probably become way more interesting to people still if there was a way to have PromQ

[2020-04-15 11:58] Nexucis commented on #19
Thanks for you answer @juliusv, I'll prepare the email then and hope you will like it ^^

Regarding the Yaml support, it's an interesting feature but not possible for the moment.
But definitely it will improve a lot its usefulness ! Specially if it will support as well the Golang template syntax in the annotations/labels (+ the different function that prometheus injected in the Golang template). T

[2020-04-17 10:09] SuperQ commented on #18
This is done, we now have working master builds too.

[2020-04-17 10:10] #18 closed

[2020-04-29 13:58] SuperQ commented on #21
This is complete. I've also filed a support ticket with GitHub to make the repo "normal mode" to remove the fork linking for the original version.

[2020-04-29 13:58] #21 closed

[2020-04-30 15:23] SuperQ opened #22 "Add Stan Hu as pgbouncer_exporter maintainer"
@stanhu's fork of the pgbouncer_exporter is now in our community repos. He would like to continue being a maintainer.

[2020-05-04 01:51] #22 closed

[2020-05-08 13:32] SuperQ opened #23 "Add kitefactory"
The kitefactory project is used to automate the build of BuildKite agent nodes for the node_exporter's non-Linux/non-x86 build pipelines.

https://github.com/derekmarcotte/kitefactory

@derekmarcotte would like to bring this into the community so we can collaborate on maintaining the node_exporter builds.

CC @paulfantom, who might be interested in collaborating on some more Ansible. :grin:

[2020-05-08 14:09] roidelapluie commented on #23
:+1:

[2020-05-26 12:47] roidelapluie commented on #16
Thanks!

[2020-05-26 12:47] #16 closed

[2020-05-26 12:47] roidelapluie opened #24 "Add elasticsearch_exporter to prometheus-community"
https://github.com/justwatchcom/elasticsearch_exporter/issues/349

[2020-05-27 14:02] brancz opened #25 "Add prom-label-proxy to prometheus-community"
We would like to move/donate the prom-label-proxy project we have created originally to build light tenancy/isolation mechanisms in OpenShift for Prometheus and Alertmanager APIs. This component is entirely independent from OpenShift though, and there have been various mailing list threads with people interested in mechanisms like this, so we would love to make this available for more people.

@s-

[2020-05-27 16:05] SuperQ commented on #25
Seems like something useful to the wider community.

[2020-05-27 16:54] bwplotka commented on #25
Awesome, I would say +10, just I would ensure a solid Auth API for this. I remember that's some requirement to use it, right?

[2020-05-27 17:04] brancz commented on #25
The readme says it all I think. It explicitly does not take care of auth, it’s just a proxy to enforce arbitrary labels in requests/queries. It’s a building block.

[2020-05-27 17:19] bwplotka commented on #25
ahh sorry for my ignorance, I keep asking same question. What I am missing in README is how to control the "enforcing" - some mention about this would be nice.

But anyways, feel free to move project and we can iterate, LGTM (:

[2020-06-01 09:33] SuperQ commented on #13
wmi_exporter is now moved, now called windows_exporter.

[2020-06-01 09:33] #13 closed

[2020-06-15 15:45] brancz commented on #25
Repo has been moved. Thanks everyone!

[2020-06-15 15:45] #25 closed

[2020-06-29 14:18] slrtbtfs opened #27 "Moving the the language server plugins to prometheus-community"
The [PromQL language server](https://github.com/prometheus-community/promql-langserver) is a back end for providing IDE like features for PromQL.

Currently there exist two Plugins that integrate the PromQL language server with a text editor.

* https://github.com/redhat-developer/vscode-promql (for VS Code)
* https://github.com/nevill/lsp-promql (for Sublime Text)

For consistency reasons it woul

[2020-06-29 14:24] brancz commented on #27
Happy to sponsor this on the prometheus-community side.

[2020-06-29 15:51] nevill commented on #27
Thanks @slrtbtfs for invitation. I'd like to donate `nevill/lsp-promql` to the community.

PS, I am not sure if `LSP-promql` will work in a mono repo, because package control will automatically grab the latest version and publish it. I guess it has some directory structure requirements there.

[2020-06-29 15:56] slrtbtfs commented on #27
[Sublime docs](https://packagecontrol.io/docs/submitting_a_package) say no to mono repo:

[2020-06-29 16:48] slrtbtfs commented on #27
Having a mix between a mono and poly (is that the right word) repo, doesn't sound great either, so for now I'm leaning more towards just changing repo ownership.

[2020-06-30 20:13] Nexucis commented on #27
Yeah np.

1. One thing that would be great is to be able to cathegorize the different repository in the prometheus-community. I mean instead of having a list of random repository you would have a kind of sub organization.

For example:
  * prometheus-community/promql-repo/<repo_name>
and you would have the promql-server; monaco-promql; lsp-promql and so one
  * prometheus-community/exporters/<repo

[2020-06-30 22:47] slrtbtfs commented on #27
I'm quite sure GitHub doesn't have that feature.

What could be done, is to give all that tooling around PromQL a consistent naming scheme, i.e. having a `promql-langserver` and a couple of `promql-<editorname>` repos.

[2020-07-01 06:09] brancz commented on #27
I think this is feasible as a start, should this explode then there could be a separate org just for this purpose.

[2020-07-05 22:58] slrtbtfs commented on #27
@brancz Could you take care of moving the VS Code extension from `redhat-developers`? Since I'm not working at Red Hat any more I can't do this myself.

[2020-07-06 10:40] squat commented on #27
I have admin privileges in the repo and can initiate the transfer.

-Lucas

On Mon, Jul 6, 2020 at 12:59 AM Tobias Guggenmos <notifications@github.com>
wrote:

[2020-07-08 19:23] brancz commented on #27
@squat can you give me sufficient access so I can move it? Otherwise we can coordinate tomorrow so I give you temporarily permissions to move it to this org.

[2020-07-09 23:05] nevill commented on #27
@brancz I also need a temporary permission to transfer, I can do it at July 11, 2020 UTC.

[2020-07-10 05:09] brancz commented on #27
@nevill could you just invite me to your repo so I can do the move? I'll remove myself from the repo afterwards.

[2020-07-10 15:27] nevill commented on #27
OK @brancz, I didn't know if a collaborator can transfer the ownership. Invitation has been sent anyway.

[2020-07-10 15:53] Nexucis commented on #27
he will need the admin right for that. Just beeing a collaborator won't be enough.

[2020-07-11 10:40] brancz commented on #27
Yeah, came here because I tried moving and I don't have sufficient permissions. As a side note I imagine we are going to want to rename the repo to maybe `sublime-promql` (just because it's kind of confusing to have "lsp-promql" and "promql-langserver" in the same org)? I won't do this, I'll let you decide, just a suggestion, but I will need more permissions to perform the move.

[2020-07-11 11:09] Nexucis commented on #27
well another way to do it is just creating an empty repo here with the appropriate name, give nevill write access to it and then he can push all commit and tag inside the new fancy repo. It's maybe simpler like that no ?

[2020-07-11 11:23] slrtbtfs commented on #27
IIRC from moving promql-langserver, admin rights for others aren't possible with personal repos.

[2020-07-11 16:28] nevill commented on #27
I don't want to rename the package name LSP-promql, to follow the LSP plugin naming convention, even some of the infamous packages indeed don't follow the convention. It's a good name to let people find it easily.
LSP is short for Language Server Protocol, not Language Server, BTW.
If we change project name to `sublime-promql`, but package name stays, it also makes me itchy. 🤔

[2020-07-11 16:31] nevill commented on #27
Thanks, I can accept this way. But the most simple way is just fork my repo, if I don't transfer the ownership.
By bothways, the only thing we missed is the old issues, but luckily we have only one there in the history.

[2020-07-11 17:36] Nexucis commented on #27
I'm in favor of renaming it for this reason.

And you can change the package as well and saying the readme there is a breaking change. Like we did for monaco and codeMirror.

[2020-07-12 07:49] nevill commented on #27
Why it's confusing to have `LSP-promql` and `promql-langserver`? Even as I explained the abbreviation? We can also states the usage in the README, and actually we did.

[2020-07-12 07:57] nevill commented on #27
@brancz I can accept all the ways we mentioned above in this issue to transfer the ownership. And I think transfer it by myself is the ideal way, but there's a trust issue. So I may have @krasi-georgiev as my reference to gain the write permission of the org.

[2020-07-12 08:06] Nexucis commented on #27
It's confusing, because when you are reading you cannot directly understand that's the client side. The name of a projet should describe what does it do.
Basically behind lsp-promql it could be the implementation of the lsp for promQL (server side) or something else. There is nothing that can tell it is a client implementation for sublime text. Basically I could also put behind the implementation

[2020-07-12 08:11] Nexucis commented on #27
And if every client implementation is going to do the same, in one week we will have these projets:
* lsp-promql
* promql-lsp
* my-awesome-lsp-for-promql
* lsp-is-so-cool-promql

That's why for the client plugin that provides a support for promQL, there should be a naming convention for the project's name. For example:
<Name_of_the_client>-lsp-promql.

Like vscode-lsp-promq

[2020-07-12 11:02] juliusv commented on #27
If it's Sublime-specific, but doesn't live in a GitHub organization that is Sublime-specific by itself, then definitely it needs to include something about Sublime in its name.

[2020-07-12 15:14] nevill commented on #27
OK, I think if a developer happened to browse the project list, prefix with `sublime` makes it clear.
How about rename the project to SublimeLSP-promql? To honor `github.com/sublimelsp`. Also, I don't want to have 2 dashes in the name. 😺

[2020-07-13 11:58] brancz commented on #27
I think I can live with `sublimelsp-promql`. If that name sounds good, then I can create the repo as an empty repo, give you write access and you push everything into it.

[2020-07-13 15:52] nevill commented on #27
@brancz thanks. but can you ping @krasi-georgiev or wait for a moment? I really want to try transfer the ownership if possible. :)

[2020-07-14 06:12] brancz commented on #27
@krasi-georgiev is on vacation. He's part of my team, so if you trust him you trust me :) (also I have admin permissions on this entire org so you're going to need to trust me either way)

[2020-07-14 16:07] nevill commented on #27
OK @brancz, let's go the way you suggested.

[2020-07-15 06:05] brancz commented on #27
Created the https://github.com/prometheus-community/sublimelsp-promql repo and added the `sublimelsp-promql` team as maintainers, and added you @nevill to that team. You can go ahead and push to the repo :)

[2020-07-17 20:11] slrtbtfs commented on #27
Looks like @prombot tried to create a PR there before anyone pushed to another branch and now `repo_sync` has become the default branch.

[2020-07-17 20:12] slrtbtfs commented on #27
Btw, @brancz what's the status of moving the VS Code extension?

[2020-07-17 20:14] roidelapluie commented on #27
Fixed default branch

[2020-07-19 22:20] nevill commented on #27
Once package_control_channel accepts my PR, my move is complete. Thank you all for help. 🎉

[2020-07-20 07:46] brancz commented on #27
@squat is on vacation, so moving the VC Code extension will need to wait until he's back as I don't have the permissions. Once he's back we can perform the move.

[2020-08-05 18:28] scottrigby opened #28 "Create a new git repo for prometheus-community helm charts"
Hello 👋

## Problem

Helm `stable` and `incubator` repos are EOL on Nov 13, 2020 (See [support plan](https://github.com/helm/charts/blob/master/README.md#status-of-the-project) and [Deprecation Timeline](https://github.com/helm/charts/blob/master/README.md#deprecation-timeline)). The community (chart OWNERS, organizations, groups or individuals who want to host charts) are moving charts to new Hel

[2020-08-05 19:09] naseemkullah commented on #28
https://github.com/prometheus-community/helm-charts please

[2020-08-05 19:22] SuperQ commented on #28
Anyone volunteer to be the maintainer sponsor? @bwplotka @brancz @gouthamve ?

[2020-08-06 07:24] hickeyma commented on #28
Just to add some feedback that we have received in the Helm community in the last few months. There has been a lot of questions wrt prometheus Helm charts and if they will be supported by the prometheus community going forward. The other question been asked is, when will the charts be Helm 3 compatible.

[2020-08-06 08:04] stuart-c commented on #28
@hickeyma what do you mean by Helm 3 compatible? I've been using Helm 3 with the charts for 6 months so far...

[2020-08-06 08:30] hickeyma commented on #28
IIRC, someone mentioned that it was not compatible at some stage.

Ah, my bad. Checking the operator chart I can see that it has indeed been updated for Helm 3 CRDs.  Thanks for the heads up @stuart-c

[2020-08-06 11:39] brancz commented on #28
I'm happy with sponsoring the chart for the prometheus-community org, under the condition that:

* It is renamed to kube-prometheus-chart to actually reflect its content, and confuse users less
* There are at least 2 maintainers (I would only sponsor, not be maintainer, now or ever)
* The maintainers actively try to minimize the differences between the chart and [kube-prometheus](https://github.co

[2020-08-06 12:29] stuart-c commented on #28
@brancz when you say "the chart" are you referring to the prometheus operator chart, as the repo would be home to all the prometheus related charts (prom operator, node exporter, alertmanager, other exporters, etc)?

[2020-08-06 13:06] SuperQ commented on #28
I've created @prometheus-community/helm-charts GitHub team to manage things.

[2020-08-06 13:38] brancz commented on #28
I'm specifically talking about what is in the upstream charts repo referred to as the prometheus-operator chart.

[2020-08-06 15:49] stuart-c commented on #28
I'd be happy to lend a hand if you would like an additional maintainer...

[2020-08-06 21:41] Nexucis commented on #28
Sorry by advance for the dummy question, but what is the point of putting *kube* in the name of the repo ? Helm-charts is for sure for kube. People that doesn't make the link probably shouldn't use it.
And you already have the name *prometheus* in *prometheus-community*. IMHO *prometheus-community/helm-charts* is obviously the different helm charts relative to the different prometheus repositories

[2020-08-06 22:55] scottrigby commented on #28
@brancz OK, I updated the issue description to say it was decided that the prometheus-operator chart should move to the prometheus-community org, per https://github.com/prometheus-operator/prometheus-operator/issues/3169#issuecomment-669793279 👌

## Simplifying charts

Regarding this note from that thread:

Yes! I'm happy to continue the discussion with chart maintainers to help this happen. One p

[2020-08-06 22:57] scottrigby commented on #28
@SuperQ re https://github.com/prometheus-community/community/issues/28#issuecomment-669915094 if you would like to add me to the @prometheus-community/helm-charts GitHub team I'm more than happy to help configure the initial repo, move over the initial version of the charts, set up the standard helm repo CI/CD etc.

[2020-08-07 07:01] stuart-c commented on #28
As part of this will the existing charts in the helm org be deprecated and their README files updated to point here?

[2020-08-07 08:14] matthiasr commented on #28
I think this is a good move, from an ecosystem standpoint it makes sense. I'm not 100% sure what the governance model is now (prometheus-community/community#7) but if we need a formal sponsor from -team I am willing to take that. Unless we have someone who actually uses Helm day-to-day, that would be even better then?

[2020-08-07 08:45] brancz commented on #28
@Nexucis kube-prometheus was created without ever intending to build a helm chart out of it :)

@scottrigby As I said before, my condition is that the "prometheus-operator" chart as it exists today with that name must change. It does not just deploy the prometheus operator, it deploys an entire cluster monitoring stack, that includes many many other components. I'm not against having a chart like

[2020-08-08 19:02] scottrigby commented on #28
@stuart-c Yes that would be the process, along with steps in https://github.com/helm/charts/blob/master/PROCESSES.md#deprecating-a-chart 👍  Then in https://github.com/helm/charts/issues/21103 we'll link to the helm/charts repo PR where that deprecation and notes to the new repo are added, just to help users keep track all in one place.

@matthiasr great 🙌

@brancz Those conditions make sense. I ca

[2020-08-08 19:16] naseemkullah commented on #28
On a related note, I notice there is no `alertmanager` chart in stable repo, I've prepared one here: https://github.com/naseemkullah/naseem-charts/tree/master/charts/alertmanager and would be glad to move it to the new repo in efforts to modularize the components into subcharts.

[2020-08-10 08:14] SuperQ commented on #28
@scottrigby Setting up the new github repo and then moving it sounds like a good solution.

[2020-08-11 14:45] brancz commented on #28
Thank you @scottrigby! This gives me hope! :)

You have my approval and sponsorship. (I'm soon on vacation so unfortunately I don't think I will be very helpful with actually doing the move, but it appears that @SuperQ might be able to help :) )

[2020-08-12 15:12] scottrigby commented on #28
I set up an initial version of this a few days ago, and took a first stab at renaming the prometheus-operator chart to kube-prometheus (also linked above) https://github.com/scottrigby/prometheus-helm-charts/pull/1

Would someone be Willi to review/test/fix whatever I broke by doing this? I added some detailed questions in the PR. Thanks!

I’d like to put PRs to at least stable/prometheus on hold

[2020-08-12 15:48] scottrigby commented on #28
I’ve added `hold/do-not-merge` label to all open PRs for stable/prometheus-operator. If anyone sees a new PR there that I miss, please feel free to /hold it and link to this issue. Thanks!

[2020-08-12 15:52] naseemkullah commented on #28
@brancz Can you confirm that `kube-prometheus` should be able to swap in vanilla prometheus/alertmanager as a replacement to prometheus-operator?

[2020-08-13 05:15] brancz commented on #28
@naseemkullah kube-prometheus is literally a subproject of prometheus-operator. Of course you can change that, but that wouldn't be kube-prometheus anymore. Let's keep discussions about changes to the helm charts out of this thread I would say.

[2020-08-14 04:28] Hokwang commented on #28
looking forward this done

[2020-08-15 20:27] zanhsieh commented on #28
Let me know what else I could do with stable/prometheus chart.

[2020-08-16 02:39] scottrigby commented on #28
@brancz I agree this makes sense. Want to move discussions about chart changes over to https://github.com/scottrigby/prometheus-helm-charts?

I added issues and an (automated) [kanban project board](https://github.com/scottrigby/prometheus-helm-charts/projects/1) to help everyone track steps and progress. **Everyone: please let me know if I've missed anything there.**

**Current chart maintainers:

[2020-08-20 04:47] gkarthiks commented on #28
@scottrigby @brancz @SuperQ this is awesome initiative, count me in if you need additional maintainers to the new Prometheus Community repo.

[2020-08-20 11:18] scottrigby commented on #28
@gkarthiks Do you mean for additional charts? Since you're already added to the initial git repo as the maintainer of `prometheus-couchdb-exporter` you will continue to be added once the repo moves back to the `prometheus-community` org (see https://github.com/scottrigby/prometheus-helm-charts/issues/20 for next steps 😄 We are nearly there!). For helping maintain other prometheus charts, you would

[2020-08-20 14:29] omegas27 commented on #28
I can help as well if a chart maintainer is needed

[2020-08-20 15:03] scottrigby commented on #28
@omegas27 Would you mind also replying on this issue? https://github.com/scottrigby/prometheus-helm-charts/issues/21

**For everyone else as well:** mainly I'm trying to respect @brancz request to move discussion related to the charts to that repo. The discussion will persist when the repo is transferred to the `prometheus-community` org. Thanks!

[2020-08-20 21:39] scottrigby commented on #28
**Update:** I believe we are ready to transfer! See https://github.com/scottrigby/prometheus-helm-charts/issues/11 for a maintainers poll.

@brancz your final approval is especially important here as you're sponsoring the move. I outlined the questions as I see them in that issue.

@SuperQ In order to transfer I'll DM you about team/permission details in IRC

[2020-09-01 17:58] slrtbtfs commented on #27
@squat I'd assume the aforementioned vacation is over now. Would it be possible to perform that repo move soonish?

[2020-09-02 20:43] sachinmsft commented on #28
@scottrigby Is migration of prometheus-operator chart complete ? I wanted to shoot a PR to add optional Windows dashboards and rules once migration is done.

[2020-09-02 22:32] scottrigby commented on #28
@sachinmsft There is a pull request in progress for the rename https://github.com/scottrigby/prometheus-helm-charts/pull/1. If you wish you can make a PR against the PR branch there (`rename-prometheus-operator-kube-prometheus`). Let's move further discussion about that one either to an issue in that repo or on your Pull Request itself.

Note: merging that PR has not been identified as a blocker t

[2020-09-02 23:49] sachinmsft commented on #28
Thanks @scottrigby . I can wait couple of days till this is done.

[2020-09-04 17:10] scottrigby commented on #28
This is done! 🎉  https://github.com/prometheus-community/helm-charts

For maintainers, there's this GH "project" if you want to see the remaining post-transfer steps: https://github.com/prometheus-community/helm-charts/projects/2

Closing this now. Thanks to @brancz and @SuperQ as well as all the prometheus community charts maintainers 🦄 💖

[2020-09-04 17:10] #28 closed

[2020-09-07 07:25] brancz commented on #28
Thank you so much @scottrigby for taking the lead on this! I think we're in a much better place now than we were before.

[2020-09-07 19:37] scottrigby commented on #28
My pleasure!

[2020-10-20 17:56] rtkgjacobs commented on #24
Hello. Any movement on this?  What is the next step? Would love to see this project progress, we have contributions we'd like to make but the linked repo seems to have gone silent.

[2020-12-29 18:36] SuperQ opened #30 "Add dswarbrick to node-exporter-textfile-collector-scripts"
I'd like to invite @dswarbrick as a maintainer of node-exporter-textfile-collector-scripts. They have done a number of good contributions and reviews of the various scripts.

[2020-12-29 19:57] roidelapluie commented on #30
Awesome! :+1:

[2021-01-12 16:11] scottrigby opened #31 "add @cstaud to team @prometheus-community/helm-charts-maintainers"
Please add @cstaud to team @prometheus-community/helm-charts-maintainers

See https://github.com/prometheus-community/helm-charts/pull/456#issuecomment-758751420

[2021-01-25 10:59] SuperQ commented on #31
Done, membership invite pending.

[2021-01-25 10:59] #31 closed

[2021-02-17 14:23] SuperQ opened #32 "Adopt postgres_exporter"
Let's adopt the postgres_exporter.

* [x] Add maintainer team to GitHub.
* [x] Add @wrouesnel to team
* [x] Transfer project
* [x] :tada:

See: https://github.com/wrouesnel/postgres_exporter/issues/475

[2021-02-17 15:18] wrouesnel commented on #32
Project transferred! Feels good to have it in a shared home. The immediate effect of this is going to be that the `wrouesnel/postgres_exporter:latest` docker image starts aging though since this (should) break the travis permissions.

[2021-02-17 15:24] SuperQ commented on #32
Nice, thanks! I have some time on Friday I could work on getting the cleanup done on the project for project path, docs, CI, etc.

[2021-02-17 15:24] #32 closed

[2021-04-19 18:04] simonfrey opened #34 "Add elasticsearch_exporter"
We would like to move https://github.com/justwatchcom/elasticsearch_exporter here

It was previously maintained by justwatchcom, but as we currently do not have the capacity to work on it, the repo is kinda abandoned.

@metalmatze and @SuperQ offered to sponsor this transfer and from our side I am happy to help where I can.

Let's give it some love and get it into a good shape again. Looking forwa

[2021-04-28 17:41] metalmatze commented on #34
Hey,
to push this conversation forward let me tell you about the project itself.
Back in 2017 we were already using the exporter at JustWatch. It was previously created by others in the community and not really maintained at that point.
Fast-forward to today, I haven't had the need to use the exporter myself since, but I can still see quite some constant activity on the exporter and it'd be amazin

[2021-05-04 08:11] infa-kparida commented on #34
This is really super useful exporter when monitoring elasticsearch through prometheus and easy to setup.It will be really helpful if this exporter can get a space here and maintained.

[2021-05-04 08:14] infa-kparida commented on #34
https://github.com/prometheus-community/community/issues/24 has similar appeal

[2021-05-09 20:02] infa-kparida commented on #34
Any progress on this ?

[2021-05-10 06:43] simonfrey commented on #34
@metalmatze Is there anything I can start preparing? I see there is a standard project layout for the repos in this org.
Where is that documented, so I can morph https://github.com/justwatchcom/elasticsearch_exporter into it? :D

[2021-05-28 14:16] roidelapluie commented on #34
Duplicate of https://github.com/prometheus-community/community/issues/24

[2021-05-28 14:16] #34 closed

[2021-05-28 14:16] roidelapluie commented on #34
We should continue the discussion on the original ticket: #24

[2021-05-28 14:47] roidelapluie commented on #34
@simonfrey nothing is needed for the transfer. Once transfered, we will do our thing to align it.

[2021-05-28 16:20] simonfrey commented on #24
@roidelapluie  To be right: Is it enough if I transfer the ownership and then you can take over?
![DeepinScreenshot_Navigator_20210528181830](https://user-images.githubusercontent.com/24354822/120013580-343ea680-bfe1-11eb-9433-2a7ba557563a.png)

cc. @metalmatze

[2021-05-28 16:23] roidelapluie commented on #24
Yes

[2021-05-28 22:22] metalmatze commented on #24
Yup, looks good. Go for it @simonfrey :+1: :rocket:

[2021-05-29 11:43] simonfrey commented on #24
Done. https://github.com/orgs/prometheus-community/teams/elasticsearch_exporter/repositories

[2021-05-31 15:33] metalmatze commented on #24
I think this is done now :)

[2021-05-31 15:36] #24 closed

[2021-06-24 15:58] SuperQ commented on #5
The Unifi Poller (now UnPoller) now has good Prometheus support. There's no need for this.

https://unpoller.com/

[2021-06-24 15:58] #5 closed

[2021-07-26 11:12] mxlxm opened #35 "How about we create a proxy_exporter?"
since almost all of the metrics exposed via http(s), how about we create a proxy_exporter which supports all kinds of `service` if we want.
just wrap the other exporter, and call them via `service=xx` arg.

here's my previous repo: https://github.com/mxlxm/exporters

[2021-07-30 08:26] roidelapluie commented on #30
Can this be closed?

[2021-07-30 08:32] SuperQ commented on #30
Yes! This is done.

[2021-07-30 08:32] #30 closed

[2021-08-12 17:44] pgier commented on #3
No, I haven't worked on it at all.  Feel free to fork my repo, or start a new one or whatever.  If it's helpful, I can give @SuperQ admin access to the repo.

[2021-08-13 13:30] frittentheke commented on #3
... currently people looking for monitoring of disk health or smartmon data are pointed to two scripts (one Python the other bash) producing metrics to be handled by the textfile exporter:
* https://github.com/prometheus-community/node-exporter-textfile-collector-scripts/blob/master/smartmon.sh
* https://github.com/prometheus-community/node-exporter-textfile-collector-scripts/blob/master/smartmon.

[2021-08-16 15:38] kfox1111 commented on #3
https://github.com/Sheridan/smartctl_exporter is another option. I've had fairly good luck with it.

Big +1 for some kind of community supported smart data exporter though, whatever the route.

[2021-08-16 16:21] SuperQ commented on #3
@frittentheke Without a way to get the data via some kernel interface, it's not likely to be in the node_exporter.

The smartctl_exporter looks like probably the best option. If the owners want to move it to prometheus-community, I'd be happy to help with that.

[2021-08-23 16:30] kfox1111 commented on #3
The author of https://github.com/Sheridan/smartctl_exporter would be willing to contribute the exporter. What do we need to do to get him a repo under prometheus-community? Anyone here that can assist him through the process? I've never done it before.

[2021-08-28 07:34] frittentheke commented on #35
The general idea sound like something https://github.com/QubitProducts/exporter_exporter does.

But you also want to include the actual metric extraction from the services into this proxy_exporter?
This would create one giant exporter having built-in support for lots of different services?

[2021-08-28 07:38] frittentheke commented on #11
@roidelapluie is a dedicated exporter even required to extract metrics from Hazelcast?

Hazelcast has built-in support for Prometheus (https://docs.hazelcast.com/hazelcast/latest/maintain-cluster/monitoring.html#prometheus) and one could also use the JMX exporter to collect the metrics.

[2021-08-28 13:43] mxlxm commented on #35
Yes, with this proxy_exporter we can scrape all kinds of services if we need. And we don't need to care about lots of different exporter's liveness.

[2021-09-08 23:13] rakyll opened #36 "An ECS exporter"
I have written a lightweight ECS exporter that is positioned to run as a sidecar container on tasks to publish ECS infrastructure metrics in the Prometheus format. There is substantial interest from the [community](https://twitter.com/rakyll/status/1433222532950159363) and the existing customers to be able to export ECS metrics in the Prometheus exposition format.

I would like to open source the

[2021-09-08 23:24] roidelapluie commented on #36
Hello, it looks fine to me, there are a couple of things to note:

In this organisation, we follow the CNCF COC, we prefer Apache 2.0 and we also use the Prometheus build+release toolchain. We can help with that of course (we frequently migrate other build systems to the Prometheus one), so you do not really need to care about that.

You and your team get maintainer access to the repository.

cc @

[2021-09-08 23:39] rakyll commented on #36
Thanks much. It uses Apache 2.0. I will add the required files for CNCF COC. I will take a look at the Prometheus toolchain and switch to it and continue the process to open source it.

[2021-09-08 23:52] roidelapluie commented on #36
The COC and toolchain would be sync automatically ( https://github.com/prometheus/prometheus/blob/0111aa987e600c861dff34e4d24e891ed63d0535/scripts/sync_repo_files.sh#L40 ). Here's an example of migration: https://github.com/prometheus-community/postgres_exporter/pull/480

[2021-09-08 23:54] roidelapluie commented on #36
Note: before creating the repository and the team, I will let other team members voice their opinion on this.

[2021-09-09 10:18] SuperQ commented on #36
Sounds like a good idea to me.

[2021-09-09 11:01] RichiH commented on #36
Disclaimer: I suggested this GH org to @rakyll

LGTM.

CC @matthiasr for overlap with https://github.com/prometheus/cloudwatch_exporter

[2021-09-09 19:50] rakyll commented on #36
Thanks much, got the invite!

[2021-09-09 20:42] matthiasr commented on #36
I am glad that this is happening! I think it's great that Prometheus users can get at this data without looping through CloudWatch with the associated impedance mismatch. There will still be a need for a CloudWatch exporter for other AWS services (for now?) but that is a separate discussion.

[2021-09-10 22:25] rakyll commented on #36
What's the next step? Do you want to review the import? I switched to the Prometheus toolchain and added the missing files and am ready to publish it.

[2021-09-11 08:52] RichiH commented on #36
Go ahead and populate; there's more than enough trust to know that you'll follow through on reviews and updates.

If you would prefer to move an existing repo over, just let us know, else https://github.com/prometheus-community/ecs_exporter is at the ready. Do you need additional users on https://github.com/orgs/prometheus-community/teams/ecs_exporter ?

[2021-09-11 19:30] roidelapluie commented on #36
I have created a LICENSE so you can make a pull request.

[2021-09-17 19:58] bitfehler opened #38 "Import github.com/soundcloud/ipmi_exporter"
Hi there,

I'd like to get the ball rolling on moving the [IPMI exporter](https://github.com/soundcloud/ipmi_exporter) into this org. I would like to continue maintaining it, the main purpose would be to consolidate the setup for CI builds and Docker images, which we cannot do in our current org (see https://github.com/soundcloud/ipmi_exporter/issues/70).

@SuperQ has some access to that repo alre

[2021-09-20 08:20] matthiasr commented on #38
I think this is a good idea! We can work out the process when I am back at
work?

On Fri, Sep 17, 2021, 21:59 Conrad Hoffmann ***@***.***>
wrote:

[2021-09-20 08:25] SuperQ commented on #38
Sounds good, I will start by setting up the GitHub group.

[2021-09-20 12:56] bitfehler commented on #38
https://github.com/prometheus-community/ipmi_exporter
Thanks!

[2021-09-20 12:56] #38 closed

[2021-09-20 16:03] kfox1111 commented on #3
So, how do we find a Prometheus-Team member?

Who has the ability to create the GitHub team?

[2021-09-20 16:12] SuperQ commented on #3
I've created the team and invited @Sheridan.

[2021-09-20 17:39] #36 closed

[2021-11-03 23:00] igaskin opened #39 "[Proposal] Adopt FreshTracks github repos"
Up until 2018 Freshtracks.io, was pioneering analytics and performance tooling built on top of prometheus.  After Freshtracks [shut down](https://blog.freshtracks.io/swan-song-96ce02ef854f) in November 2018, the collection of prometheus related tools hosted within its repository were left without owners; https://github.com/open-fresh.

This is a proposal to fork or move the four public repos that

[2021-11-10 17:54] SuperQ commented on #39
Sure, I could see some of those repos being something we could adopt if there are community maintainers willing to take over updating them.

[2021-11-10 19:21] igaskin commented on #39
I can help maintain https://github.com/open-fresh/avalanche.

[2021-11-10 20:22] roidelapluie commented on #39
I have invited you so you can transfer the repository :)

[2021-11-10 22:18] igaskin commented on #39
Cool, just accepted the invite.  I should clarify that I am a member of the community, I am not associated with Freshtracks in any way.   I can transfer my fork of the repository, but cannot transfer the original since I am not a member of the open-fresh organization.

My understanding is that some of the Freshtracks members ended up at Grafana/Prometheus.  If they are still around, maybe they can

[2021-11-24 15:50] csmarchbanks commented on #39
Hello, I am that member of FreshTracks who is now at Prometheus/Grafana :), I haven't had time to maintain avalanche recently and do not personally use it much anymore so I am happy to transfer it and have a new maintainer! Before doing so I would like buy in from a couple of other FreshTracks people, especially how they want to handle it (move the repo, archive it, etc...).

cc: @limscoder @mchip

[2021-11-24 17:14] mchipouras commented on #39
I am very supportive of transferring all 4 repos over to Prometheus community. It would be great to have some new energy pushing these projects forward

[2021-11-29 16:14] mchipouras commented on #39
success.  https://github.com/prometheus-community/avalanche

[2021-12-06 21:03] #39 closed

[2022-01-07 00:04] xaque208 opened #40 "Can we fork `openldap_exporter` for contributions?"
Good day,

A somewhat popular exporter doesn't appear to be taking many contributions and I'm wondering if we could move those community contributions to a fork under this org.

https://github.com/tomcz/openldap_exporter

If this can happen, I would happily leave a comment on the recently closed Github PRs for that repo to offer contributions be made to the fork here.  Ideally we could include som

[2022-02-17 11:03] k0ste commented on #3
@SuperQ, I contacted with @Sheridan directly, and we find out that he can't add, for example @NiceGuyIT or @vagifzeynalov, to repo members. I think this guys can warm up this repo with patches, so somebody need merge permissions. The original author of exporter too busy to review new code

Thanks!

[2022-02-17 12:30] Sheridan commented on #3
I am have no acces to access setings
![image](https://user-images.githubusercontent.com/728591/154482139-6af72f8d-97e4-4f6a-b031-1c84761aa936.png)

[2022-03-18 10:03] simonpasquier commented on #27
@slrtbtfs @Nexucis I've been granted admin permissions on https://github.com/redhat-developer/vscode-promql so I should be able to transfer the repository to the prometheus-community organization. I'm also happy to sponsor the project.
What would be the name of the new repository? vscode-promql, vscodelsp-promql or something else?

[2022-03-18 14:25] slrtbtfs commented on #27
Thanks for finally bringing this effort forward on the Red Hat side.

I don't have strong opinions about naming and am fine with vscode-promql.

[2022-03-18 14:56] Nexucis commented on #27
yeah `vscode-promql` is ok @simonpasquier

[2022-03-23 00:25] slrtbtfs commented on #27
Great, thanks!

[2022-06-21 09:35] SuperQ opened #42 "Adopt systemd_exporter"
There is some interest in adopting the systemd_exporter.

I'd be willing to sponsor this.

https://github.com/povilasv/systemd_exporter/issues/47

CC @povilasv

[2022-07-16 18:30] NiceGuyIT commented on #3
Any movement on this front? There are 9 PRs outstanding and some (myself included) have forked the repo just to be able to merge the PRs that affect them.

[2022-07-17 13:21] SuperQ commented on #3
This has been moved, but we need more people to review PRs.

[2022-07-17 13:21] #3 closed

[2022-07-17 13:26] bjornfor commented on #3
If this issue is resolved, where is the new smartmon exporter repo?

[2022-07-17 13:59] SuperQ commented on #3
https://github.com/prometheus-community/smartctl_exporter

[2022-07-19 12:43] bjornfor commented on #3
So that's what users should use now instead of https://github.com/prometheus-community/node-exporter-textfile-collector-scripts/blob/master/smartmon.py?

[2022-07-20 17:13] SuperQ commented on #42
This is complete.

[2022-07-20 17:13] #42 closed

[2022-09-05 10:08] filippog opened #43 "Adopt a rsyslog exporter here?"
I'm using `rsyslog_exporter` (specifically @aleroyer's fork at https://github.com/aleroyer/rsyslog_exporter, thank you for your work!). I was originally using soundcloud's fork at https://github.com/soundcloud/rsyslog_exporter and consulting its network of repositories there seem to be quite the activity in terms of forks, which is great.

Though as an end-user I find it hard to follow multiple up

[2022-09-05 10:43] SuperQ commented on #43
Sounds reasonable to me.

CC @matthiasr @aleroyer

[2022-09-13 14:55] matthiasr commented on #43
Yes I like the idea. I made the changes that I needed for SoundCloud at the time to the rsyslog exporter, but I won't have capacity to maintain a version continuously. @aleroyer would you like to promote your fork into the prometheus-community org and maintain it there? It would also be cool, if you have the capacity, to integrate useful changes from other forks.

[2022-09-20 08:43] proffalken opened #44 "Adopt the Github Exporter to the Prometheus Community"
As detailed in https://github.com/infinityworks/github-exporter/issues/85, the Github Exporter is no longer actively maintained and the previous maintainers are happy for it to be adopted by this community.

Whilst I don't know GO, I am willing to undertake the work required to get the repo to a point where it is building within the Prom Community's CI/CD platform and see where we can take it from

[2022-09-20 09:03] SuperQ commented on #44
This will need a Prometheus Team sponsor.

[2022-09-20 09:06] proffalken commented on #44
Thanks, good to know - is there an "official" way of going about that?

[2022-09-20 10:39] aleroyer commented on #43
Hi everyone :wave:
I see no issue so far to promote my fork here. I use the exporter in production in my company so it shouldn't be a problem to dedicate some time to it.
Do you have any guidelines or documentation I need to follow in order to maintain this repository in the prometheus-community org? I suppose there is a specific release process, maybe some libraries to integrate or update?

[2022-10-07 11:39] matthiasr commented on #43
I am happy to sponsor this effort. @aleroyer I created a team and invited you to this organization. Please accept the invite, and initiate the transfer of the repository, whenever you are ready. I can then accept that transfer.

[2022-10-11 12:53] aleroyer commented on #43
@matthiasr I accepted the invite and transfered the repository. It seems like you didn't had to accept that transfer as I can find it [here](https://github.com/prometheus-community/rsyslog_exporter).

What's next? :)

[2022-11-07 13:53] matthiasr commented on #43
I think that's all :) I'll make a PR to add a MAINTAINERS.md to the project, and I closed all the outstanding ones on the SoundCloud fork.

[2022-11-07 13:53] #43 closed

[2022-11-08 07:49] Rucknar commented on #44
I can help transition this if required, though i only have access for another week before i move on from the current project owner. If we want/need to do something then i'd suggest we look to do it sooner rather than later. If needed though i could bring others up to speed.

^ In ref to the current owner

[2022-11-11 19:26] proffalken commented on #44
@Rucknar apologies, I've only just seen this. If it's not too late for you to step in that would be fantastic - work has required far more of my time than expected of late!

[2022-11-14 11:42] Rucknar commented on #44
Apologies @proffalken I don't have the time in my last week to actually make changes and manage through, More i have the time to transfer ownership if suitable. I've talked through my colleague though @ivorc who will be able to do this if it's required after i've gone.

[2022-11-24 12:13] ivorc commented on #44
@proffalken I'm happy to support this. @SuperQ — you mentioned the need for a Prometheus Team sponsor. Can you guide us on how to arrange that?